[user]
	name = Pravendra Singh
	email = hackpravj@gmail.com

[credentials]
	helper = cache

[alias]
	# List contributors(emails also) with number of commits : Yo @abhshkdz
	graf = shortlog -sne

	# undo recent commit, don't kill the changes
	undo = reset --soft HEAD^

	# Fetch a GitHub pull request (branch) in local git repository
	#
	# git fetch-pull-request <PR-NUMBER> <LOCAL-PR-BRANCH-NAME> [REMOTE]
	# >> 2 update-url => fetch the 2nd pull request into the branch update-url
	# >> 2 update-url dev => fetch the 2nd pull request into the branch update-url from the remote "dev"
	fetch-pull-request = "!f() { git fetch ${3:-origin} pull/$1/head:$2; }; f"

	# view latest 10 commit's history graph with commit message and hash
	l = log --pretty=oneline -n 10 --graph --abbrev-commit

	# Current working tree status
	#
	# short format
	s = status -s
	#
	# long format
	st = status

	# these are the real way to do ckeckouts
	co = checkout -
	cb = checkout -b

	# list branches with recent commit messages and hash
	#
	# local branches
	lb = branch -v
	#
	# all branches (remotes also)
	ab = branch -av

[color]
	ui = auto

[color "branch"]
	current = yellow reverse
	local   = yellow
	remote  = green

[color "diff"]
	meta = yellow 
	frag = magenta 
	old  = red 
	new  = green 

[color "status"]
	added     = yellow
	changed   = green
	untracked = cyan
